<div id="scrollable"
  <% @group.comments.sort_by{ |c| c.get_upvotes.size }.reverse.each do |comment| %>
  <p>
  <font size="5"><%= "#{User.find_by_id(comment.commenter).name.capitalize}: "  %>
    <strong> <%= comment.body %></strong></font>
  <%= link_to like_comment_path(comment), method: :put do %>
    <%= image_tag("thumbs_up.png") %>
    <%= comment.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_comment_path(comment), method: :put do %>
    <%= image_tag("thumbs_down.png") %>
    <%= comment.get_downvotes.size %>
  <% end %>
  </p>
  <% if current_user.id == comment.commenter %>
    <%= link_to 'Delete suggestion', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</div>
