<h1><%= @group.title %></h1>
<body><%= @group.body %>
  <p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @group.body %>
</p>

<%= form_with scope: :group, local: true do  |f| %>
    <%= f.hidden_field :group_id, :value => @group.id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
<% end %>

<b><%= link_to 'Go back to groups', groups_path %></b> |
</body>
