<h1><%= @group.title %></h1>
<body><%= @group.body %>


<p>
  <%= month_calendar events: @group.unavalibilities.each do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
</p>


<p>
  <strong>Add dates of unavalibility:</strong>
</p>

<%= form_for(Unavalibility.create) do  |f| %>
    <%= hidden_field_tag :group_id, @group.id%>
    <%= hidden_field_tag :name, current_user.name %>
    <%= f.label :start_date %>
    <%= f.date_select :start_time %>
    <%= f.label :end_date %>
    <%= f.date_select :end_time %>
    <%= f.submit 'Submit' %>
<% end %>






<p>
  <strong>Members:</strong>
  <% @group.users.each do |user| %>
    <tr>
      <%= user.email %>
    </tr>
  <% end %>
</p>

<p>
  <strong>Invite:</strong>
</p>

<%= form_for(Invite.new) do  |f| %>
    <%= hidden_field_tag :group_id, @group.id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
<% end %>

<b><%= link_to 'Go back to groups', groups_path %></b> |
</body>
