<div style="padding-top:1em;padding-left:1em;">
  <h1><%= @group.title %></h1>
  <body><%= @group.body %>
</div>

<div class="app">
  <div class="app__column1">
    <%= render 'calendar' %>
  </div>

  <div class="app__column">

    <h1 style="text-align: center;"><%= @group.title %></h1>
    <p style="text-align: center;"><%= @group.body %></p>

    <p>
      <h3>Add dates of unavailability:</h3>
    </p>

    <%= render 'unavailability' %>

    <p>
      <h3>Members:</h3>
      <%= render 'members' %>
    </p>

    <p>
      <h2>Invite:</h2>
    </p>

    <%= render 'invitation' %>

    <h2>Add a comment:</h2>
    <%= render 'comment' %>

    <h2>Comments</h2>
    <%= render 'displaycomments' %>
  </div>
</body>
