<h1><%= @group.title %></h1>
<body><%= @group.body %>


<p>
  <%= month_calendar events: @group.unavailabilities.each do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
</p>

<p>
  <h3>Members:</h3>
  <% @group.users.each do |user| %>
    <tr>
      <%= user.email %>
    </tr>
  <% end %>
</p>

<p>
  <h3>Add dates of unavailability:</h3>
</p>

<%= render 'unavailability' %>

<p>
  <h2>Invite:</h2>
</p>

<%= render 'invitation' %>

<b><%= link_to 'Go back to groups', groups_path %></b> |
</body>
</html>
