<div class="app">
  <div class="app__column1">
    <%= render 'calendar' %>
  </div>

  <div class="app__column">

    <% if @group.pic != nil %>
    <%= image_tag @group.pic, class:"group_pic" %>
    <% end %>

    <h1 style="text-align: center;"><%= @group.title.capitalize%></h1>
    <p style="text-align: center;"><%= @group.body %></p>

    <p>
      <h3>Add dates of unavailability:</h3>
    </p>

    <%= render 'unavailability' %>

    <p>
      <h3>Members:</h3>
      <%= render 'members' %>
    </p>

    <p>
      <h3>Invite:</h3>
    </p>

    <%= render 'invitation' %>

    <h3>Make a suggestion:</h3>
    <%= render 'comment' %>

    <h3>Holiday Suggestions</h3>
    <%= render 'displaycomments' %>

    <h3> Upload group picture</h3>
    <%= render 'uploadpic'%>


  </div>

</body>
