<div class="app">
  <div class="app__column1">
    <%= render 'calendar' %>
  </div>

  <div class="app__column">

    <% if @group.pic.file.nil? %>
    <h1 style="text-align: center;"><%= @group.title.capitalize%></h1>
    <p style="text-align: center;"> <%= @group.body %> </p>
    <%else%>
    <%= image_tag @group.pic, class:"group_pic" %>
    <% end %>

<<<<<<< HEAD
    <div class="tabs">

      <div class="tab">
          <input type="radio" id="tab-1" name="tab-group-1" checked>
          <label for="tab-1">Group</label>

          <div class="content">
            <h1 style="text-align: center;"><%= @group.title.capitalize%></h1>
            <p style="text-align: center;"><%= @group.body %></p>
          </div>

      </div>

     <div class="tab">
         <input type="radio" id="tab-2" name="tab-group-1" checked>
         <label for="tab-2">Unavailability</label>

         <div class="content">
             <%= render 'unavailability' %>
         </div>
     </div>

     <div class="tab">
         <input type="radio" id="tab-3" name="tab-group-1">
         <label for="tab-3">Members</label>





         <div class="content">
             <%= render 'members' %>
             <%= render 'invitation' %>
         </div>
     </div>

      <div class="tab">
         <input type="radio" id="tab-4" name="tab-group-1">
         <label for="tab-4">Picture</label>

         <div class="content">
            <%= render 'upload_pic'%>
         </div>
     </div>

    </div>

=======
    <%= render 'tabs' %>
>>>>>>> 00b9aedf613560898fd2b1d86da5818155cd37a6

    <h3>Holiday Suggestions</h3>
    <%= render 'displaycomments' %>

    <h3>Make a suggestion:</h3>
    <%= render 'comment' %>

  </div>

</body>
