<h1><%= @group.title %></h1>
<body><%= @group.body %>


<p>
  <%= month_calendar events: @group.unavailabilities.each do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
</p>

<p>
  <h3>Members:</h3>
  <% @group.users.each do |user| %>
    <tr>
      <%= user.email %>
    </tr>
  <% end %>
</p>

<p>
  <h3>Add dates of unavailability:</h3>
</p>

<%= render 'unavailability' %>

<p>
  <h2>Invite:</h2>
</p>

<%= render 'invitation' %>

<h2>Add a comment:</h2>
<%= render 'comment' %>

<h2>Comments</h2>
<% @group.comments.each do |comment| %>
<p>
  <strong><%= "#{User.find_by_id(comment.commenter).name.capitalize}: "  %></strong>
  <%= comment.body %>
</p>

<% end %>

<b><%= link_to 'Go back to groups', groups_path %></b> |

</body>
