<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unavailability.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @unavailability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @unavailability.end_time %>
</p>

<p>
  <strong>Message:</strong>
  <%= @unavailability.message %>
</p>

<p>
  <strong>Group:</strong>
  <%= @unavailability.group %>
</p>

<%= link_to 'Edit', edit_unavailability_path(@unavailability) %> |
<%= link_to 'Back', unavailabilities_path %>
